<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>MPMG - M08</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css">
    </head>

    <body>
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="#">
                        <img src="https:///upload.wikimedia.org/wikipedia/commons/9/92/Logo_mpmg.png" alt="MPMG" width="100">
                    </a>
                </div>

                <div class="navbar-menu">
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <div class="buttons">
                                <a class="button is-info-light" href="#">Sair</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <section class="section has-background-link-light">
            <div class="container is-fluid">
                <nav class="level pl-6 pr-6">
                    <div class="columns">
                        <div class="column ml-5">
                            <h3 class="subtitle is-3">Defina o diretório raiz</h3>

                            <div class="file is-info has-name">
                                <label class="file-label">
                                    <input class="file-input" type="file" name="resume" id="input-folder" name="input-folder" data-show-preview="false" multiple webkitdirectory accept="image/*">

                                    <span class="file-cta">
                                        <span class="file-icon">
                                            <i class="fas fa-upload"></i>
                                        </span>

                                        <span class="file-label mr-4">
                                            Selecione um diretório
                                        </span>
                                    </span>

                                    <span class="file-name has-background-white pl-6 pr-6">
                                        Nome do diretório...
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </section>

        <section class="section has-background-white">
            <div class="container is-fullwidth">
                <nav class="level has-background-link-light pb-6 pr-6 pl-6 ml-6 mr-6">
                    <div class="level-left">
                        <div class="collumns">
                            <div class="collumn mr-6 ml-6">
                                <h5 class="subtitle is-5 pt-6">Passo 1: Processamento</h5>

                                <div class="buttons">
                                    <button class="button is-info is-fullwidth">Processar Imagens</span></button>
                                </div>

                                <div class="buttons">
                                    <button class="button is-info is-fullwidth">Processar Vídeos</button>
                                </div>

                                <div class="buttons">
                                    <button class="button is-info is-fullwidth">Processar Todos</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="level-right">
                        <div class="collumns">
                            <div class="collumn ml-6 mr-6">
                                <h5 class="subtitle is-5 pt-6">Passo 2: Relatórios</h5>

                                <div class="buttons">
                                    <a data-toggle="modal" id="config-modal" class="button has-background-info-dark has-text-white is-fullwidth" value="btn_display_value" data-target="#config-modal" onclick="aPassValueFunction(this)">Configurações</a>

                                    <script>
                                        function aPassValueFunction(obj){
                                            let valuefromID = obj.id;
                                            $('#hidden_input').val(valuefromID);
                                            $("#config-modal").modal("show");
                                        }
                                    </script>
                                </div>

                                <div class="buttons">
                                    <button class="button is-info is-fullwidth">Gerar Relatório de Imagens</span></button>
                                </div>

                                <div class="buttons">
                                    <button class="button is-info is-fullwidth">Gerar Relatório de Vídeos</button>
                                </div>

                                <div class="buttons">
                                    <button class="button is-info is-fullwidth">Gerar Relatório de Todos</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </section>

        <section class="section has-background-link-light">
            <div class="container is-fluid">
                <h5 class="subtitle is-5 pl-6 ml-5">Log do Processamento</h5>

                <nav class="level pl-5 pr-5">
                    <main role="main" class="column ml-6 mr-6 pt-5 pb-5 pl-5 pr-5 box-deco has-background-white">
                        <article class="blog-post">
                            <h4 class="title is-4">Área de Log</h4>
                        </article>
                    </main>
                </nav>
            </div>
        </section>
    </body>
</html>
