<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>MPMG - M08</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css">
    </head>

    <body>
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="#">
                        <img src="https:///upload.wikimedia.org/wikipedia/commons/9/92/Logo_mpmg.png" alt="MPMG" width="100">
                    </a>
                </div>

                <div class="navbar-menu">
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <div class="buttons">
                                <a class="button is-info-light" href="#">Sair</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <section class="section has-background-link-light">
            <div class="container is-fullwidth">
                <nav class="level pr-6 pl-6 mr-6 ml-6">
                    <div class="level-left">
                        <div class="collumns">
                            <div class="collumn pl-6">
                                <h5 class="subtitle is-5">Limite de idade:</h5>

                                <h5 class="subtitle is-5">Confiança na detecção de pornografia:</h5>

                                <h5 class="subtitle is-5">Confiança na detecção de face:</h5>
                            </div>
                        </div>
                    </div>

                    <div class="level-right">
                        <div class="collumns">
                            <div class="column pr-6">
                                <div class="select is-fullwidth mb-2">
                                    <select>
                                        <option>Selecione</option>
                                        <option>With options</option>
                                    </select>
                                </div>

                                <div class="control mb-2">
                                    <input class="input" type="text" placeholder="Digite 0 ou 1" />
                                </div>

                                <div class="control">
                                    <input class="input" type="text" placeholder="Digite 0 ou 1" />
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </section>
    </body>
</html>
